*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: red;
}

.textbox {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  align-content: center;
  max-width: 800px;
  
}
.row {
  height: 70px;
}
.row-inner {
  text-align: center;
  color: red;
}

.button{
  height:20px; 
  width:200px; 
  margin: 0 auto;   
}

.btn {
  border: 40px;
  background-color: hsl(360, 91%, 36%);
  border-radius: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px; */
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 0 auto;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.generate{
  margin: 0 auto;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}



#password {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
